/ TODO: Submenu still needs some work!
/ TODO: Add language switcher

.menu.xs-p-1
  .container
    .row
      .md-3
        = link_to '/' do
          .menu--logo.md-6

          .menu--logo-text.md-4
            = I18n.t('menu.logo.after')
      %ul.menu--list.lg-6.md-8.right
        - data.menu.send(I18n.locale).each do |item|
          - if item.sub_menu
            %li.menu--list-item.has-subs.md-pt-1.xs-3.xs-pt-2.text-right
              = link_to item.title, item.path
              %ul.menu--sub-list.row.xs-p-1.xs-12
                - item.sub_menu.each do |project|
                  %li.menu--sub-list-item.xs-mb-1= link_to project.title, project.path
          - else
            %li.menu--list-item.md-pt-1.xs-3.xs-pt-2.text-right= link_to item.title, item.path
