/ TODO: Submenu still needs some work!
/ TODO: Add language switcher
.menu
  = image_tag 'logo.png', class: 'menu--logo'
  .menu--logo-text
    = I18n.t('menu.logo.after')
  %ul.menu--list
    - data.menu.each do |item|
      - if item.sub_menu
        %li.menu--list-item.has-subs
          = link_to item.title, item.path
          %ul.menu--sub-list
            - item.sub_menu.each do |project|
              %li.menu--sub-list-item= link_to project.title, project.path
      - else
        %li.menu--list-item= link_to item.title, item.path
  .clear-both


