- other_language = ['en', 'nl'] - [I18n.locale.to_s]
= link_to other_language, request.path, locale: other_language.first.to_sym

= partial 'partials/header'

= partial 'partials/home_projects'

= partial 'partials/home_expertise'

= partial 'partials/footer'
